#wg_corpListMulit .hiddenValueDiv{
	display:none;
}

#wg_corpListMulit .rContent2{
	padding:5px;
}

#wg_corpListMulit .code{
	width:157px;
}

#wg_corpListMulit .condcorpname{
	width:157px;
}

#wg_corpListMulit .xz_div{
	text-align: center;
	margin-top: 20px;
}

