#updatemethod > div:nth-child(1) > center > table > tbody > tr > td:nth-child(1){
	text-align: right;
}

#wg_funListMulit .hiddenValueDiv{
	display: none;
}

#wg_funListMulit .rContent2{
	padding: 5px;
}

#wg_funListMulit .clientall_label{
	display: none;
}

#wg_funListMulit .url_label{
	display: none;
}

#wg_funListMulit .updatemethod{
	padding: 5px; 
	display: none; 
	font-size: 12px;
}

#wg_funListMulit .updatemethod_down_div{
	height: 170px; 
	margin-top: 10px;
}

#wg_funListMulit .updatemethod_table_input{
	width: 174px;
}

#wg_funListMulit .updatemethod_table_tr{
	height:5px;
}

#wg_funListMulit .req_type{
	width: 178px;
}

#wg_funListMulit .resp_type{
	width: 178px;
}

#wg_funListMulit .tj_div{
	height: 50px; 
	line-height: 50px; 
	margin-top: 40px;
}

#wg_funListMulit .modify{
	padding: 5px; 
	width: 300px; 
	height: 160px; 
	display: none; 
	word-wrap: break-word; 
	word-break: break-all; 
	overflow-y: auto;
}

#wg_funListMulit .msg{
	width: 100%; 
	height: 100%; 
	overflow-y: auto;
}

#wg_funListMulit .modifyshow{
	padding: 5px; 
	width: 300px; 
	height: 160px; 
	display: none; 
	word-wrap: break-word; 
	word-break: break-all; 
	overflow-y: auto;
}

#wg_funListMulit .msgshow{
	width: 100%; 
	height: 100%; 
	overflow-y: auto;
}

#wg_funListMulit .mappingDiv{
	padding: 5px 0 5px 5px; 
	display: none; 
	height: 555px;
}

#wg_funListMulit .mappingFrame{
	width: 1000px; 
	height: 555px; 
	border: 0;
}
