#condition table tr td.condi_f_l .btnClass1
{
	background: url(images/but-bg1.jpg) no-repeat 0px -78px ;
}
#condition table tr:first-child td{
	padding-top: 18px;
}
#condition table tr:last-child td{
	padding-bottom: 18px;
}
#condition table tr td{
	padding: 8px 18px 8px 0;
    font-family: '΢���ź�';
    color: #666;
}
#condition table tr td > input, #condition table tr td > div > input, #condition table tr td > label > input {
	height: 33px  !important;
    padding: 0px;
    padding-left: 10px;
    width: 210px  !important;
}


/*condition 下边的下拉框样式设置*/
#condition table tr td .c_selectBox, #condition table tr td .c_selectBox ul, #condition table tr td .c_selectBox ul li{
	width: 208px!important;
}

#condition table tr td .c_selectBox ul, #condition table tr td .c_selectBox ul li{
	width: 208px!important;
}


#condition table tr td .c_selectBox input{
	width: 196px!important;
}


#condition table tr td div .c_input{
	height:27px  !important;
}
#condition .c_result{
	top: 29px  !important;
}
#condition table tr td:nth-child(even){
	padding-right: 72px;
}
#condition table tr td:first-child{
	padding-left: 22px;
}
#condition table tr td.tdSer a#search {
	background: url(images/botton_one_long_icon.png) no-repeat -604px 0;
    width: 70px;
	height: 31px;
    line-height: 31px;
    border-radius:3px; 
}
#condition table tr td.tdSer a#search:hover {
	background: url(images/botton_one_long_icon.png) no-repeat -604px 0;
}
#condition table tr td.tdSer a#search font{
	margin-left:18px !important;/* ���ڶ̣�ʹ��import����������ʽ */
	color:#fff !important;
}
.buttons #toggleDiv font{
	line-height: 28px !important;
}
#condition table tr td.tdSer a#search:hover {
	background-position: -604px -31px;
}

#condition table tr td.tdSer a#replysearch {
	background: url(images/but-bg.png) no-repeat;
	background-position: 0px 0%;
}

#condition table tr td.tdSer a#replysearch:hover {
	background-position: 0px -31px;
}
#content{
	margin-top: 12px;
}
.buttons a#exportReplyInfo {
	background: url(images/botton_one_long_icon.png) no-repeat -201px 0px;
}


#content thead th.th_l_b {
	border-left: 0px;
}

#content thead th.th_r_b {
	border-right: 0px;
}


#content  tbody tr.tbody_last td {
	border-bottom: #e8ecf0 1px solid;
}

#content  tbody tr td.no_r_b {
	border-right: none;
}

#content  tbody tr td.no_l_b {
	border-left: none;
}

#content tbody tr td a {
	cursor: pointer;
	border: none;
	color: #0e5ad1;
	text-decoration: none;
}

#content tbody tr td a:hover {
	text-decoration: underline;
}

#content tbody tr td input[type=checkbox] {
	height: 13px;
	width: 13px;
	background-color: #f7f8fa;
}

#content  tfoot tr td {
	font-size: 12px;
	text-align: right;
	padding: 10px 10px 2px 2px;
	font-family: Tahoma;
	border: none;
}

#content  tfoot tr td #p_info {
	float: right;
	line-height: 21px;
	height: 21px;
	display: block;
	margin-right: 8px;
}

#content  tfoot tr td a {
	height: 21px;
	display: block;
	float: right;
	width: 26px;
	background-image: url(images/pageinfos.png);
	margin-right: 8px;
}

#content  tfoot tr td #p_goto {
	height: 21px;
	width: 53px;
	display: block;
	float: right;
	background-image: url(images/goto.png);
	cursor: pointer;
}

#content  tfoot tr td a#p_back {
	background-position: -26px 0%;
	width: 34px;
}

#content  tfoot tr td a.p_a_h#p_back:hover {
	background-position: -26px -21px;
}

#content  tfoot tr td a#p_next {
	background-position: -60px 0%;
	width: 34px;
}

#content  tfoot tr td a.p_a_h#p_next:hover {
	background-position: -60px -21px;
}

#content  tfoot tr td a#p_last {
	background-position: -94px 0%;
}

#content  tfoot tr td a.p_a_h#p_last:hover {
	background-position: -94px -21px;
}

#content  tfoot tr td a.p_a_h#p_first:hover {
	background-position: 0% -21px;
}

#p_jump_menu {
	width: 132px;
	height: 52px;
	line-height: 25px;
}

#p_jump_menu input {
	width: 24px;
	height: 17px;
	line-height: 17px;
}

#p_jump_sure {
	display: block;
	background: url(images/jump_sure.png) no-repeat;
	width: 86px;
	height: 20px;
}
.buttons{
	margin-bottom: 12px;
}
.buttons #toggleDiv {
	width: 79px;
	float: right;
	z-index: 20;
	position: relative;
	height: 31px;
	cursor: pointer;
	/* background: url(images/toggle_expand.png) no-repeat; */
}
.buttons #toggleDiv:after{
	content: "";
	position: absolute;
	top: 12px;
	right: 4px;
	z-index: 2;
	width: 8px;
	height: 8px;
	display: block;
	background: url(../../images/pull_icon.png) no-repeat;
	
}
.buttons #toggleDiv:hover {
	/* background: url(images/toggle_expand_hover.png) center top no-repeat; */
}
.buttons #toggleDiv.collapse {
	background: none;
}


.buttons #toggleDiv.collapse:hover {
	background: none;
}
.buttons a#delete {
	background: url(images/botton_one_long_icon.png) no-repeat -402px 0px;
	color: #666;
}
.buttons a#add {
	background: url(images/botton_one_long_icon.png) no-repeat 0px 0px;
	color: #fff;
}
.buttons a#downloadTemplate {
	background: url(images/botton_one_long_icon.png) no-repeat 0px 0px;
    color: #fff;
    width:95px;
}
/*toSysuer*/
.buttons a#toSysuer,.buttons a#toEmployee {
	width: 84px;
	height: 31px;
	background: url(images/botton_one_long_icon.png) no-repeat 0px 0px;
}
/*del employee*/
.buttons a#delepl,.buttons a#delgr,.buttons a#delcli,.buttons a#delMem  {
	width: 84px;
	height: 31px;
	background: url(images/botton_one_long_icon.png) no-repeat -402px 0px;
	color: #666;
}
.buttons a#deleteRecord {
    background: url(images/botton_one_long_icon.png) no-repeat -804px 0px;
    text-indent: 28px;
    width: 84px;
}

a#addCondition {
	width: 74px;
	height: 31px;
	background: url(images/botton_one_long_icon.png) no-repeat 0px 0px;
	display: block;
	float: left;
	margin: 0px 5px 2px 0;
	background-color: #dddddd;
	font-size: 12px;
	line-height: 31px;
	overflow: hidden;
	text-decoration: none;
	cursor: pointer;
	text-indent: 20px;
	color: #000;
}
/*add employee*/
.buttons a#addeployee,.buttons a#addgr,.buttons a#addcli,
.buttons a#addMem,.buttons a.addNoti {
	width: 84px;
	height: 31px;
	background: url(images/botton_one_long_icon.png) no-repeat 0px 0px;
}
.buttons a#addcporv {
	width: 94px;
	height: 31px;
	background: url(images/botton_one_long_icon.png) no-repeat 0px 0px;
}
.buttons a#delcporv {
	width: 94px;
	height: 31px;
	background: url(images/botton_one_long_icon.png) no-repeat -402px 0px;
	color: #666;
}
/*changedep*/
.buttons a#changedep {
	width: 74px;
	height: 31px;
	text-indent: 30px;
	background: url(images/botton_one_long_icon_ext.png) no-repeat 0px -92px!important;
    line-height: 30px!important;
}
.buttons a#upload {
	width: 74px;
	background: url(images/botton_one_long_icon.png) no-repeat 0px 0px;
}

.buttons a#bindIpMac{
	width: 108px;
	background: url(images/botton_one_long_icon.png) no-repeat 0px 0px;
}
.buttons a#enablePwd{
	width: 110px;
	background: url(images/botton_one_long_icon.png) no-repeat 0px 0px;
}
.buttons a#cancelBind{
	width: 84px;
	background: url(images/botton_one_long_icon.png) no-repeat -402px 0px;
	color:#666;
}
.buttons a#showAll {
	width: 74px;
	height: 31px;
	text-indent: 0px;
	text-align:center;
	background: url(images/botton_one_long_icon.png) no-repeat 0px 0px;
}
.buttons a#bind {
	width: 84px;
	background: url(images/botton_one_long_icon.png) no-repeat 0px 0px;
}

#u_o_c_explain {
	border: none;
}

/* --ie���--*/
#condition table tr td select::-ms-expand{ display: none; }
/* --���ȸ����--*/
#condition table tr td select{
     appearance:none;  
    -moz-appearance:none;  
    -webkit-appearance:none;
/*      background: url("../../mbgl/image/select_icon.png") no-repeat scroll 215px transparent;
     padding-right: 14px; */
}
#condition table tr td select{
    background:#FFF url(images/select_icon.png) no-repeat scroll 96% center; 
    /* background: url(images/select_icon.png) no-repeat scroll 177px transparent; */
    padding-left: 10px;
    height:33px;
}
#rContent table tr input[type='checkbox']{
    -webkit-appearance:none;
    outline: none;
    border: 1px solid #c9c9c9;
    width:15px;
    height:15px;
    border-radius: 2px;
}
#rContent input[type='radio']{
    -webkit-appearance:none;
    outline: none;
    border: 2px solid #c9c9c9;
    width:15px;
    height:15px;
    border-radius: 50%;
}
#rContent input[type='radio']:checked{
	background: #00aa72;
}

#condition table tr td.condi_f_l input[type='checkbox'] {
    width:15px;
    height:15px;
}

#rContent table tr input[type=checkbox]:checked{
    width:15px;
    height:15px;
	background: #00aa72 url(images/tick_icon.png) no-repeat center;
    border: 0px;
}

#condition table tr td.condi_f_l .treeInput{
	padding-right: 0px;
	background-color:white;
}
.treeInput
{
	background: url(images/select_icon.png) no-repeat 96% 12px;
	padding-right: 24px;
	height: 31px;
	line-height: 31px;
	border: 1px solid #BEC3D1;
	outline: none;
}

.Wdate{
	/*border:#999 1px solid;*/
	height:20px;
	background:#fff url(images/datePicker.gif) no-repeat right;
	cursor:pointer;width:150px;
}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}
#backgo {
	background: url(images/but-bg1.jpg) no-repeat 0px -78px;
	width : 48px;
}
#condition #condition_table{border-width:1px;}
.bb_line{display:none;}
.buttons a#exportCondition {
	background: url(images/botton_one_long_icon.png) no-repeat -201px 0px;
    line-height: 30px
}
.buttons a{
    width: 70px;
    height: 31px;
    line-height: 31px;
    color: #fff;
    text-indent: 30px;
}
.buttons a:hover{
	color: #fff;
    opacity: 0.9;
	background: url(images/botton_one_long_icon.png) no-repeat 0px 0px;
}
.c_selectimg {
	background: white url(images/expand_icon.png) no-repeat 0px 12px !important;
	width: 16px !important;
}
.c_selectBox{
	height: 33px !important;
}
#eq_sendDiv #InfoMsg{
	color:#ff8022 !important;
}
#eq_sendDiv2 #u_o_c_explain{
	width: 80px;
    border: 1px solid #e8ecf0;
    background-color: #fff;
}
#eq_sendDiv2, .b_F_btn{
	padding-left: 95px;
}
.b_F_btn{
	text-align: left !important;
	margin-top: 36px;
}
.tdSer a font{
	line-height: 28px !important;
}
#comm_ssm_smsTemplate #condition table tr td:nth-child(even){
	padding-right: 52px;
}