/*�ƶ��ͷ�-�ͻ�����ף��-����ף������ʼ*/
#birthdaySendManage #add{
	color:#ffffff;
}
#birthdaySendManage #spUser {
    width: 222px;
    height: 35px;
}
#birthdaySendManage .dxkf_status {
    width: 222px;
    height: 35px;
}
/*�����޸�*/
#birthdaySend #title{
	height: 33px;
}
#birthdaySend #sendTime{
	height: 33px;
}
#birthdaySend #spUser{
	height: 35px;
}
#birthdaySend #flowFrame{
 	width: 658px;
    height: 440px;
}
#birthdaySend .dxfk_td1 {
    width: 680px;
}
/*�ƶ��ͷ�-�ͻ�����ף��-����ף���������*/