@charset "UTF-8";
#wx_send input#toDraft{
    text-indent: 10px;
    letter-spacing: 2px;
}
#wx_send #tail-area{
    text-indent: 1em;
    display: none;
}
#wx_send #dds {
    width: 328px;
    height: 120px !important;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
    border-right: 0;
}
#wx_send #batchFileSend{
    width:685px;
}
#wx_send #taskname{
    padding-left:5px;width:577px;float:left;
}
#wx_send #vss{
    width:336px;
}
#wx_send .first_td{
    border-left:0;
}
#wx_send .selectFileTable{
    width:255px;
}
#wx_send .chooseTable{
    height: 122px !important;
    table-layout: fixed;
}
#wx_send #picTab{
    height:72px;
}
#wx_send .selectPerson{
    cursor:pointer;
}
#wx_send .selectPersonDiv{
    width: 81px;
}
#wx_send .selectFileTd{
    cursor:pointer;
}
#wx_send .selectFileDiv{
    position:relative;
    width:84px;
}
#wx_send #filesdiv{
    width: 85px;
    height: 72px;
    position: absolute;
    top: -12px;
}
#wx_send #numFile1{
    width: 85px;
    outline:0;
    height: 72px;
    display:block;
}
#wx_send .bulkImport{
    cursor:pointer;
}
#wx_send #tph{
    line-height:23px;
    width: 192px;
    height: 26px;
    border:0
}
#wx_send .addPhone{
    cursor:pointer;
    text-align: center;
}
#wx_send .clearDiv{
    clear:both;
}
#wx_send #downlinks{
    padding-bottom:10px;
    position: relative;
}
#wx_send .downlinksWrapper{
    padding:5px 10px 15px 0;
}
#wx_send .sendDiv{
    margin-top:-5px;
    width:660px;
}
#wx_send .smsContent{
    width:585px;
    float:left;
}
#wx_send .smsContent_tr1{
    height:25px
}
#wx_send .smsContent_tr1_td1{
    width:252px;
    height:25px;
    line-height: 25px;
}
#wx_send #ctem{
    text-decoration: none;
    width:140px;
    border-top:0;
    border-left:0;
    float:left;
    text-align:center;
    border-bottom:0;
    height:25px;
    line-height: 25px;
    display: block
}
#wx_send #qtem{
    width:140px;
    border-top:0;
    border-left:0;
    float:left;
    text-align:center;
    border-bottom:0;
    height:25px;
    line-height: 25px;
    display: none;
}
#wx_send .showDraft{
    margin-left: 20px;
    cursor:pointer;
}
#wx_send .signature{
    width:255px;
    padding-left:5px;
}
#wx_send #depSign,#wx_send #nameSign{
    vertical-align: text-bottom;
}
#wx_send .timer{
    margin-left:10px;
}
#wx_send .showSmsContent{
    height:93px;
}
#wx_send .showSmsContent textarea{
    width:575px;
    height:93px;
    border:0
}
#wx_send #tail-area{
    height:25px;
}
#wx_send #tail-text{
    background-color: #f1f1f9;
    word-wrap:break-word;
    word-break:break-all;
}
#wx_send #tail-text font{
    color: #888888;
}
#wx_send .smsWordCount{
    line-height:12px;
    float:left;
    padding-top:5px;
    margin-left:75px;
    color: #656565;
}
#wx_send .operator{
    line-height:12px;
    float:right;
    padding-top:5px;
    margin-right:5px;
    color: #656565;
}
#wx_send .separator{
    margin-top: 5px;
    line-height:24px;
}
#wx_send .chooseNetTpl{
    width: 95px;
}
#wx_send .addNetTpl{
    margin-left:10px;
    cursor:pointer;
}
#wx_send #templatepre{
    display:none;
    width: 290px;
    margin-top: 10px;
    height:30px;
    margin-left:80px;
}
#wx_send #templatepre div{
    margin-left: 10px;
    margin-top: 6px;
}
#wx_send .sendTimeDiv{
    padding:10px 0 0;
    width: 498px;
    height:13px;
    float:left;
}
#wx_send #time2{
    display: none;
}
#wx_send .advancedSettings{
    margin-left:20px;
}
#wx_send .fold,#wx_send .unfold{
    text-decoration: none;
}
#wx_send #moreSelect{
    height:95px;
    width:665px;
}
#wx_send #moreSelect table{
    width:100%;
    border:0;
}
#wx_send #moreSelect table tr{
    height: 35px;
}
#wx_send .defaultSettings{
    width:620px;
    text-align: right;
}
#wx_send .busType{
    width:108px;
}
#wx_send .busType font{
    padding-left:35px;
}
#wx_send #busCode{
    width:225px;
}
#wx_send .spUserTd font{
    padding-left:35px;
}
#wx_send #spUser{
    width:225px;
}
#wx_send .b_F_btn{
    width:100%;
}
#wx_send #flowFrame{
    width:530px;
    height:465px;
    border: 0;
}
#wx_send #infoDiv table{
    border:0;
}
#wx_send #infoDiv table td{
    width:680px;
    border:0;
    text-align:center
}
#wx_send #detail_Info{
    width: 100%;
    padding: 5px;
    display: none;
}
#wx_send #wxtempDiv{
    float:left;
}
#wx_send .pageNavigation{
    margin-right:10px;
    margin-top: 3px;
}
#wx_send #selDh{
    width:170px;
}
#wx_send #nm_preview_common{
    background: white;
    width:198px;
    height:325px;
    margin-top: 65px;
    margin-left: 22px;
}
#wx_send .phoneBackground{
    width:240px;
    height:460px;
    margin-left:30px;
    margin-top:-3px;
    background:url('../../../common/img/iphone5.jpg');
}
#wx_send .sendDetail{
    float:left;
    margin-left:10px;
    width: 200px;
}
#wx_send #infos{
    border:0;
}
#wx_send #messages2 font,#wx_send #messages1 font,#wx_send #alleff{
    color: red;
}
#wx_send #showeffinfo p{
    font-size: 12px;
}
#wx_send #effinfo{
    right: 37px;
    margin-bottom: 0;
    margin-left: 0;
    width: 195px;
}
#wx_send #effinfotable{
    width:100%;
}
#wx_send #effinfotable td{
    padding-left: 10px;
}
#wx_send .effinfotable_tr1{
    height: 10px;
}
#wx_send #footer{
    float:left;
    margin-left:10px;
    *margin-left:0;
    margin-top:30px;
    display:inline;
}
#wx_send .detail_Info_separator{
    height: 15px;
}
#wx_send #infomodel{
    display: none;
    position: absolute;
    z-index: 5000;
    border: 1px solid #dae1cf;
    background-color: #f7fff0;
    width: 300px;
    height:400px;
    padding:15px;
}
#wx_send #infomodel table{
    line-height: 25px;
}
#wx_send .infomodel_td1{
    font-weight: bold;
    font-size: 14px;
}
#wx_send .infomodel_td2,#wx_send .infomodel_td3{
    text-align:left;
    vertical-align: top
}
#wx_send .infomodel_td4 span{
    font-weight: bold;
    font-size: 14px;
}
#wx_send #probar{
    display: none;
}
#wx_send #probar p{
    padding-top: 8px;
}
#wx_send #shows img{
    padding-left: 25px;
}
#wx_send #divBox{
    display: none;
}
#wx_send .tempPreview{
    margin-right:10px;
    margin-top: 3px;
}
#wx_send .ym{
    width:170px;
}
#wx_send #nm_preview_common1{
    background: white;
    width:198px;
    height:325px;
    margin-top: 65px;
    margin-left: 22px;
}
#wx_send .tempPreviewPhone{
    width:240px;
    height:460px;
    margin-left:30px;
    margin-top:-3px;
    background:url('../../../common/img/iphone5.jpg');
}
#wx_send #hidden_iframe{
    display: none;
}
#wx_send #tmplDiv{
    padding:5px;
}
#wx_send #tempFrame{
    width:100%;
    height:99%;
    border: 0;
}
#wx_send #contentFrame{
    width:610px;
    height:370px;
    border: 0;
}
#wx_send #draftDiv{
    padding:5px;
    display:none
}
#wx_send #draftFrame{
    width: 880px;
    height:400px;
    border: 0;
}
#wx_send #tempDiv{
    padding:5px;
    display:none;
}
#wx_send #tempDiv div{
    text-align: center;
}
#wx_send #draftDiv div{
    text-align: center;
}
#wx_send .imporInner{width: 485px;height: 240px;margin:20px auto 10px;}
#wx_send .bultMark{width:485px;margin:0 auto 20px;position: relative;overflow: hidden;}
#wx_send .imporInner textarea{background: transparent;border: 0;width:477px;height:220px;}
#wx_send textarea:focus{outline: none;resize:none;}
#wx_send .bultBtn{text-align: center;}
#wx_send .numSplit{text-align: left;}
#wx_send #bultNum{position: absolute;left: 0;top: 0;}
#wx_send #bulkImport_box{
    display: none;
}
#wx_send #importAreaTemp{
    display: none;
}
#wx_send .bultNum_separator,#wx_send .message_separator{
    height: 25px;
}
#wx_send #message{
    padding:5px;
    display:none;
    font-size: 12px;
}
#wx_send .close_separator{
    height:10px;
}
#wx_send #allfilename,#wx_send #hiddenValueDiv{
    display: none;
}
#wx_send .pre-btn{
    color:#095AD1;
    cursor:pointer;
}