@charset "utf-8"; 
* {
	padding:0;
	margin:0;
	font-family: 宋体;
}
.top 
{
	overflow: hidden;
	height: 99px;
}
.top_info {
	line-height: 12px;
	height: 12px;
	margin-right: 10px;
	_margin-right: 10px;
	background: none;
	color: #FFF;
	float: right;
	font-size: 12px;
	text-align: right;
	vertical-align: top;
	padding-top:10px;
}

.top_logo {
	width: 500px;
}
.top_info a {
	color: #FFF;
	text-decoration: none;
	line-height:12px;
	height:12px;
	float:right;
	padding-left: 5px;
	padding-right: 5px;
	margin-left:5px;
}
.top_info span
{
	height:12px;
	float:right;
	padding-left: 5px;
	border-right:1px solid #FFFFFF;
	display: block;
}
#firstPage
{
	float:left;
	width:34px;
	height: 20px;
	display: block;
	text-align: center;
}
.onSys
{
	/**background: url(img/header_putdown_bg.png) repeat-x;*/
	background: #0B3E75;
}
#firstPage img
{
	margin-top: 6px;
}
#loginMes
{
	font-size: 16px;
	height:20px;
	width: auto;
	padding: 0px 9px 0 9px;
	text-align: center;
	float: left;
	font-size: 13px !important;
	font-size: 12px;
}
#sysmenudiv
{
	font-size: 16px;
	height:20px;
	width: auto;
	padding: 0 10px;
	text-align: center;
	float: left;
}
.halving_line
{
	height: 20px;
	width: 2px;
	display:block;
	float: left;
	background-repeat:no-repeat;
	background-image:url(img/halving_line.gif);
}
#remainingNum
{
	font-size: 16px;
	height:20px;
	width:40px;
	float:left;
	text-align: center;
	padding:0px 3px 0 4px;
	font-size: 13px !important;
	font-size: 12px;
}
#secondPageDiv
{
	font-size: 16px;
	height:20px;
	width:28px;
	float:left;
	text-align: center;
	cursor: pointer;
	padding:0px 6px 0 7px;
	font-size: 13px !important;
	font-size: 12px;
}
#secondPageDiv a:HOVER
{
	text-decoration: underline;
}
#tbBody
{
	height:100%;
	width:100%;
	table-layout:fixed;
	background: url(img/header.png);
}
#sysmenu{
	display: block;
	height: 40px;
}
#companyName
{
	position:absolute;
	height:32px;
	*height:30px;
	padding-top:22px !important;
	*padding-top:24px !important;
	padding-top:24px;
	text-align:left; 
	font-size:18px;
	/*font-weight:bold;*/ 
	color:#fff; 
	width:400px; 
	float:left; 
	padding-left:140px !important;
	_padding-left:140px;
	font-weight: 800;
	/**text-align:center;*/
}
span.halving_distance
{
}

#top_home 
{
	width:100%;
	height:31px;
	display: block;
	background-position: center 11px;
	background-repeat: no-repeat;
	background-image: url('img/home.gif') ;
	cursor: pointer;
}

#quit 
{
	font-size: 13px !important;
	font-size: 12px;
}

.topMenu {
	width: 82px;
	height: 21px;
	padding-top:10px;
	padding-left: 1px;
	padding-right: 1px;
	float: left;
	display: block;
	font-size: 14px;
	cursor: pointer;
	overflow: hidden;
	text-align: center;
	color: #FFFFFF;
}
