@charset "utf-8";

body {
	background-color: #293e7a;
}

.halving_line
{
	background-image:url(images/halving_line.png);
}

#tbBody
{
	background: none;
}

.top_info {
	color: #FFF;
}
.top_info a {
	color: #FFF;
}

#top_home 
{
}

.onSys {
	background: #0B3E75;
}