@charset "utf-8";

/*公司架构层*/
.left_dep {
	float: left;
	width: 210px;
	height: 300px;
	display: inline;
	border-width: 1px;
	border-style:solid;
	white-space: nowrap;
	position: relative;
}
/*详细信息层*/
.right_info {
	margin-left: 220px;
	/*height: 400px;*/ /*border: 1px #00ADEE solid;*/
	width: auto;
	height: auto !important;
	height: 300px;
	min-height: 300px;
}

.right_info table {
	width: 100% !important;
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.left_dep h3 {
	border-right: none;
	border-top: none;
	border-left: none;
	text-align: center;
	font-size: 14px;
	height: 25px;
	line-height: 26px;
	/*background: #E0EBFD;*/
	/*background: #E0EBFD url(../images/jt.gif) no-repeat 0 center;*/
}

.left_dep .list {
	overflow: auto;
	width: 200px;
	overflow-y: auto;
	overflow-x: auto;
	white-space: nowrap;
	height: 285px;
	margin-left:5px;
}

.left_dep .list p {
	cursor: pointer;
	padding: 3px 0;
	font-size: 12px;
	text-align: left;
	padding-left: 10px;
}

.roleNameColor {
	background: url(images/packUp.png) no-repeat left;
	/*color: #2E5F98;
	background-color: #c1edff;
	width: 120px;
	*/
	font-weight: bold;
}

#changeDep #depDiv {
	width: 355px;
	height: 380px;
	border: 1 px solid #00ADEE;
	padding: 5 px;
	overflow-y: auto;
	overflow-x: auto;
	z-index: 999;
}
.depOperate
{
	border: 0;
	float: right;
}
.depOperate span
{
	width: 34px;
	height: 21px;
	display: block;
	float: right;
	border: 0px;
	margin: 0;
	cursor: pointer;
}
.depOperateButton1
{
	background: url(images/dep_Button.png) no-repeat 0 0px;
}
.depOperateButton2
{
	
	background: url(images/dep_Button.png) no-repeat -70px 0px;
}
.depOperateButton3
{
	
	background: url(images/dep_Button.png) no-repeat -35px 0px;
}
.depOperateButton1On
{
	background: url(images/dep_Button.png) no-repeat 0 -21px;
}
.depOperateButton2On
{
	
	background: url(images/dep_Button.png) no-repeat -70px -21px;
}
.depOperateButton3On
{
	
	background: url(images/dep_Button.png) no-repeat -35px -21px;
}
.bindCon
{
	width: 58px;
	height: 21px;
	background: url(images/bindCon.png) no-repeat;
}
.depOperate .bindCon
{
	width: 58px;
	height: 21px;
	background: url(images/bindCon.png) no-repeat;
}
.depBalanceMgrSearchBtn
{
	width: 30px;
	height: 26px;
	background: url(images/query.png) no-repeat;
	border: 0px;
	cursor: pointer;
	vertical-align: top;
}
.depBalanceMgrLogBtn
{
	width: 100px;
	height: 26px;
	//background: url(images/tab_menu_bg.png) no-repeat;
	border: 1px solid #b3caee;
}
#addBalanceAllFrame{
	width: 100%;
	height: 450px;
}