@charset "UTF-8";
/* 该样式只用于网讯编辑中（从原来网讯编辑中JSP页面拿出，优化）2013-10-10 */
#overlay1{position:absolute;top:0;left:0;width:100%;height:100%;background:white;opacity:1;filter:alpha(opacity=10);display:none;}
.tooltip{
    position:absolute;
    color:#000;
    font:lighter 11px/1.3 Arial,sans-serif;
    text-decoration:none;text-align:center;position:absolute;
}

.tooltip{
    position:absolute;
    color:#000;
    font:lighter 11px/1.3 Arial,sans-serif;
    text-decoration:none;text-align:center;position:absolute;}
.tooltip span.top{
    text-align:left;
    text-indent:1em;
    padding: 30px 8px;
    z-index:65535;
}

.tooltip b.bottom{padding:3px 8px 15px;color: #548912;position:absolute;
}
img{border:0px;}
.c_selectBox{float:left;}
.hideDlg
{
    height:450px;width:239px;
    display:none;
}
.showDlg
{
    overflow:scroll;
    background-color:white;
    border-width:3px;
    border-style:solid;
    height:480px;width:239px;
    position: absolute;
    display:block;
    z-index:5;
}
.overlay{
    position:absolute;
    top:0;left:0;width:100%;height:100%;
    background:red;
    opacity:0.5;filter:alpha(opacity=50);display:none;}
.showNetDlg
{
    background:#CCCCCC;
    background-color:white;
    border-width:2px;
    border-style:solid;
    border-color:#71B8FF;
    height:430px;width:234px;
    position: absolute;
    display:block;
    z-index:5;
}

.showNetbox
{
    　background:#CCCCCC;
    border-width:2px;
    border-style:solid;
    border-color:#71B8FF;
    height:430px;width:234px;
    position: absolute;
    z-index:5;
}
.showNet
{
    word-break:break-all;
    overflow-x:scroll;
    overflow-y:scroll;

    margin:0px auto;
    margin-right: 30px;
    margin-left: 20px;
    margin-top: 50px;

    background-color:white;
    border-width:2px;
    border-style:solid;
    border-color:#000000;
    height:300px;width:190px;
    position:relative;
    display:block;

}
.showDlgImg
{
    background-color:white;
    border-width:1px;
    border-style:none;
    height:415px;width:234px;
    position:relative;
    display:block;
}

.showDeck {
    display:block;
    top:0px;
    left:0px;
    margin:0px;
    padding:0px;
    position:absolute;
    z-index:3;
    background:white;
}
.hideDeck
{
    display:none;
}

#editor {height:465px;width:400px;}
.and_back{width: 100%;border:1px solid #ccc;text-align:left;font-size:12px;line-height:25px;height:450px;}

a{color:#002BE8;}
.div_all{
    text-align:left;font-size:12px;line-height:25px;

    background-repeat:repeat;

}
.w1{width: 610px;}
.div_all1{
    text-align:left;font-size:12px;line-height:25px;
    padding-top:10px;
    background-repeat:repeat-y;
    background-repeat:repeat-x;
    width: 98.6%;

}
.div_all12{
    text-align:left;font-size:12px;line-height:25px;
    padding-top:10px;
    background-repeat:repeat-y;
    background-repeat:repeat-x;
    height:439px;width:200px;
}
.div_all13{
    text-align:left;font-size:12px;line-height:25px;
    background-repeat:repeat-y;
    background-repeat:repeat-x;
    height:439px;width:200px;
}
.scroll{
    display:none;
}
.table002{margin:0 0 15px 10px;width:851px;}
.table002 td{padding:4px 0;}
.wx_radio{height:13px; vertical-align:text-top; margin:0;padding:0;width:13px;}

