@charset "utf-8";

table {
	background:#3e77ac;
}
a img{border:0;}
/*通用边框色*/
.div_bd {
	border-color: #b3caee;
}

.menu_top {
	color: #FFFFFF;
}

.mune_show {
	color: #d0e0ee;
	font-size: 14px;
	background-image: url(images/line_new.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	position:relative;
}
.mune_show.open {
	background: url(images/menu_2_bg_normal.png) 0px 0px no-repeat;
	color: #3e77ac;
}

.mune_show span
{
	line-height: 40px;
	height: 40px;
	font-size: 14px;
	width:100%;
	display:block;
	text-indent: 45px;
	background: url(images/icon_right_sel.gif) 20px 12px no-repeat;
}
#sider .mune_show span{
font-size:12px;
}
.mune_show.open span {
	background: url(images/icon_down_sel.gif) 20px 12px no-repeat;
}
#modIndex .mune_show span
{
	 background:none;
}
.act_ico
{
	 width:15px;height:15px;display:block;
	 position:absolute;
	 left:18px;top:12px;
	 overflow:hidden;
}
.theme img{margin:0;}
.balance img{margin:-15px 0 0 0;}
.ggLi img{margin:-30px 0 0;}
.upsc img{margin:-45px 0 0;}

.open .theme img{margin:0 0 0 -15px;}
.open .balance img{margin:-15px 0 0 -15px;}
.open .ggLi img{margin:-30px 0 0 -15px;}
.open .upsc img{margin:-45px 0 0 -15px;}
#userDiv
{
	background-image: url(images/line.png);
	background-position: center bottom;
	background-repeat: no-repeat;
}
#sider .mune_hidden li a{color:#a5d4ff;}
#sider .mune_hidden li a.li_a_hover {
	background:#2b6397;
	color:#62e3ff;
}

.mune_show.li_a_hover {
	
	background-color:#2b6397;
}

#sider .mune_hidden li a.higehLisght {
	color: #fff !important;
	background-color: #2b6397 !important;
	text-decoration: none;
}
.higehLisght_parent{position:relative;}

#sider .mune_hidden li.higehLisght_parent i{width:4px;background:#e5f5ff;display:block;height:32px;position:absolute;left:0;top:0;}


#sider .mune_hidden li.lihover a.higehLisght {
	color: #fff !important;
	background-color: #2b6397 !important;
	text-decoration: none;
}
.mune_hidden 
{
	color : #2c2c2c;
	background-color: #3e77ac;
	background-image: url(images/line_new.png);
	background-position: center bottom;
	background-repeat: no-repeat;
}
#userInfo
{
	background-image: url(images/user_info.gif);
	background-position: 0 0;
	background-repeat: no-repeat;
}
#photo
{
	display:block;
	width:62px;
	height:62px;
	background: url(images/photo.png) no-repeat;
}
#blue_user_info{height:81px;display:block;background:url(images/line_new.png) no-repeat 0 100%;}
.left_title_bg{background:#3e77ac url(images/title_bg.png) repeat-x 0 0;height:80px;}
#blue_user_info .info_inner{background:url(images/icon_head.gif) no-repeat 0 0;height:80px;

}
.show_user_name{padding:20px 0 0 80px;color:#e5f0fa;font-size:12px;font-weight:bold;font-family:arial,"宋体";}
#userDiv{display:none;}
#sider .mune_hidden li a{text-indent:45px;}
