.menuDiv {
	display: block;
	width: 178px;
	height: 178px;
	margin-bottom: 15px;
	float: left;
}

.div_active {
	background-image: url(images/index_menu_active.png);
}

.div_hover {
	background-image: url(images/index_menu_hover.png);
}

.menuDiv a {
	display: block;
	width: 100%;
	height: 35px;
	cursor: pointer;
	text-align: center;
	padding-top: 143px;
	color: #000;
	font-size: 1.1em;
	text-decoration: none;
	outline: none;
}
.menuDiv a:active {star:expression(this.onFocus=this.blur());}

.midDiv {
	display: block;
	width: 20px;
	height: 178px;
	margin-bottom: 15px;
	float: left;
}

#gonggao
{
	background-image:url(images/icon_public.png);
	height: 27px;
	background-repeat: no-repeat;
	text-indent: 20px;
}