@import "./RxPagenation.less";
.search-option {
  width: 100%;
  box-sizing: border-box;
  tr {
    line-height: 50px;
  }
}
.search-content {
  margin-top: 16px;
  margin-bottom: 16px;
  table {
    border-collapse:collapse;
    width: 100%;
    tr, td {
      font-size: 12px;
      border: 1px solid #D1DBE5;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      text-align: center;
      padding: 12px 0;
      line-height: 23px;
    }
    tr:hover {
      background: #fafafa;
    }
    .tableHead:hover {
      background: #ebeef5;
    }
    .tableHead {
      font-size: 14px;
      background: #ebeef5;
    }
    .operate {
      color: #409EFF;
      cursor: pointer;
    }
  }
}
.endTimeBox {
  font-size: 12px;
  padding-left: 72px;
  .endTime {
    color: #409EFF;
  }
}
.el-dialog__header {
  border-bottom: 1px solid #cccccc;
}
.template-preview-dialog{
  .el-dialog{
    width: 436px;
    overflow: hidden;
    border-radius: 4px;
  }
  .el-dialog__body{
    padding-left: 0;
    padding-right: 0;
  }
  .el-dialog__header{
    padding: 17px 20px;
    border-bottom: 1px solid #dcdcdc;
    background: #f7f9fc;
    .el-dialog__title{
      font-size: 16px;
      line-height: 1;
    }
    .el-dialog__headerbtn{
      top: 16px;
      right: 16px;
    }
    p{
      margin: 0;
      line-height: 1;
    }
  }
}