#par_addRoute .sign {
	width: 260px;
}

#par_addRoute .tjdcspzhly_table {
	width: 438px;
}

#par_addRoute .detail_Info {
	padding-left: 40px;
	width: 610px;
}

#par_addRoute .userid_table {
	width: 90%;
	height: 100%;
	font-size: 12px;
	line-height: 40px !important;
	line-height: 30px;
}

#par_addRoute .userType_up_td {
	width: 130px;
}

#par_addRoute .userid {
	width: 265px;
}

#par_addRoute .lyzt_td {
	width: 150px;
}

#par_addRoute .select_wi {
	width: 265px;
}

#par_addRoute .gatebut {
	width: 258px;
	display: none;
}

#par_addRoute .spgate {
	width: 265px;
	display: none;
}

#par_addRoute .birds_div {
	padding: 0;
	width: 263px;
}

#par_addRoute .birds {
	width: 243px;
}

#par_addRoute .birds_ul {
	width: 263px;
}

#par_addRoute .spgateName {
	background-color: #E8E8E8;
	width: 260px;
}

#par_addRoute .isSupportEn {
	background-color: #E8E8E8;
	width: 260px;
}

#par_addRoute .maxwords {
	background-color: #E8E8E8;
	width: 260px;
}

#par_addRoute .singlelens {
	background-color: #E8E8E8;
	width: 260px;
}

#par_addRoute .multilen1 {
	background-color: #E8E8E8;
	width: 260px;
}

#par_addRoute .multilen2 {
	background-color: #E8E8E8;
	width: 260px;
}

#par_addRoute .dxqmm_tr {
	display: none;
}

#par_addRoute .sublen {
	background-color: #E8E8E8;
	width: 260px;
}

#par_addRoute .signMode {
	width: 265px;
}

#par_addRoute .cpno {
	width: 260px;
}

#par_addRoute .lyms_down_input {
	width: 260px;
}

#par_addRoute .usercode {
	width: 260px;
}

#par_addRoute .btn_div {
	width: 410px;
}
