/*移动办公-员工通讯录管理-通讯录权限管理-绑定*/
.user_display_none{
	display: none;
}
#epl_perbindSysuser #rContent{
	padding-right:0;
	width:678px;
}
#epl_perbindSysuser .user_td1{
	text-align:left;
}
#epl_perbindSysuser #depname{
	cursor: pointer;
}
#epl_perbindSysuser #dropMenu{
	position: absolute;
	margin-left:0px;
	display:none;
	background-color:white;
	border:1px solid;
	z-index:999;
	width:356px;
	height: 299px;
	overflow: hidden;
}
#epl_perbindSysuser #ztree{
	height:280px; 
	width:356px;
	overflow-y:auto;
	overflow-x:auto;
}
#epl_perbindSysuser .user_td2{
	word-break: break-all;
}