#cor_addAdmin .rContent2{
	padding:5px;
}

#cor_addAdmin .table_input{
	border:0px;
}

#cor_addAdmin .username{
	background-color:#EFEFEF;
}

#cor_addAdmin .sysTable{
	width:100%; 
	height:100%;
}

#cor_addAdmin .font_red{
	color: red;
}

#cor_addAdmin .dep{
	background-color:#EFEFEF;
}


