#ydcx_mmsMaterial .ydcx_materialTree {
	height: 420px;
	width: 200px;
	overflow: auto;
}

#ydcx_mmsMaterial .ydcx_buttons {
	height: 30px;
}

#ydcx_mmsMaterial .ydcx_getloginUser {
	padding: 5px;
	display: none;
}

#ydcx_mmsMaterial .ydcx_com_add_part {
	padding: 5px;
	display: none;
}

#ydcx_mmsMaterial #com_add_part .ydcx_mtalName_labl_td {
	padding-top: 10px;
	font-size: 13px;
}

#ydcx_mmsMaterial .ydcx_mtalName_td {
	padding-top: 10px;
	padding-left: 5px;
}

#ydcx_mmsMaterial #mtalName {
	width: 200px;
	height: 20px;
}

#ydcx_mmsMaterial .ydcx_material_td1 {
	font-size: 13px;
}

#ydcx_mmsMaterial .ydcx_material_td2 {
	padding-left: 5px;
	height: 15px;
	width: 70px;
}

#ydcx_mmsMaterial .ydcx_material_td2 .ydcx_afileclass1 {
	font-size: 12px;
	cursor: pointer;
	margin-top: -12px;
	height: 25px;
	color: #2970C0;
}

#ydcx_mmsMaterial .ydcx_material_td2 .ydcx_afileclass1 {
	font-size: 12px;
	cursor: pointer;
	margin-top: -12px;
	height: 25px;
	color: #2970C0;
}

#ydcx_mmsMaterial .ydcx_filesdiv {
	width: 80px;
	position: absolute;
	height: 30px;
	margin-bottom: 0px;
	top: 50px;
	left: 60px;
}

#ydcx_mmsMaterial .ydcx_filesdiv {
	width: 80px;
	position: absolute;
	height: 30px;
	margin-bottom: 0px;
	top: 50px;
	left: 60px;
}

#ydcx_mmsMaterial .ydcx_numfileclass {
	vertical-align: middle;
}

#ydcx_mmsMaterial .ydcx_material_td3 {
	padding-top: 7px;
	float: left;
	width: 140px;
}

#ydcx_mmsMaterial .ydcx_material_td3 .ydcx_labe1 {
	color: #ACACAC;
	font-size: 13px;
}

#ydcx_mmsMaterial .ydcx_material_td3 .ydcx_labe1 .ydcx_span {
	font-size: 10px;
}

#ydcx_mmsMaterial .ydcx_preview_label_td {
	vertical-align: top;
	font-size: 13px;
	padding-top: 10px;
}

#ydcx_mmsMaterial .ydcx_soundpic_td {
	padding-top: 10px;
}

#ydcx_mmsMaterial .ydcx_soundpic {
	width: 250px;
	height: 200px;
	overflow: auto;
}
#ydcx_mmsMaterial .ydcx_confirm_cancel {
	padding-top: 30px;
}

#ydcx_mmsMaterial .ydcx_com_add_part2 {
	padding:5px;
	display:none;
}

#ydcx_mmsMaterial .ydcx_part2_tabl .ydcx_td1 {
	text-align:right;
	padding-top: 10px;
	font-size: 13px;
	padding-left: 5px;
	width:145px;
}
#ydcx_mmsMaterial .ydcx_part2_tabl {
	height: 100px;
}
#ydcx_mmsMaterial .ydcx_confirm_cancle1 {
	padding-top: 40px;
}

#ydcx_mmsMaterial .ydcx_part2_tabl .ydcx_td2 {
	padding-top: 10px;
	width: 160px;
}
#ydcx_mmsMaterial .ydcx_part2_tabl .ydcx_td2 {
	padding-top: 10px;
	width: 160px;
}
#ydcx_mmsMaterial .ydcx_part2_tabl .ydcx_sortName2 {
	vertical-align: middle;
	width: 160px;
}

#ydcx_mmsMaterial .ydcx_part2_tabl .ydcx_sortName2 {
	vertical-align: middle;
	width: 160px;
}


#ydcx_mmsMaterial .ydcx_trid {
	padding:5px;
	display:none;
}






























































































