@charset "utf-8"; 

.l_mana_son {
	line-height: 24px;
	border-top:none;
	white-space: nowrap;
	background: #ffffff;
	width: 100%;
	float: left;
}

#roleNameHideenSpan
{
	background: url(images/deleteFrame.png) no-repeat;
}

.l_pRightCon .packCheck .fackCheckbox
{
	background : url(images/selectChecbox.png);
}	

.roleNameColor {
	background: url(images/packUp.png) no-repeat left;
}

#r_s_manager h5 {
	background-image:url(../images/jt.gif);
}

.depOperateButton1
{
	background: url(images/dep_Button.png) no-repeat 0 0px;
}
.depOperateButton2
{
	
	background: url(images/dep_Button.png) no-repeat -70px 0px;
}
.depOperateButton3
{
	
	background: url(images/dep_Button.png) no-repeat -35px 0px;
}
.depOperateButton1On
{
	background: url(images/dep_Button.png) no-repeat 0 -21px;
}
.depOperateButton2On
{
	
	background: url(images/dep_Button.png) no-repeat -70px -21px;
}
.depOperateButton3On
{
	
	background: url(images/dep_Button.png) no-repeat -35px -21px;
}
.bindCon
{
	background: url(images/bindCon.png) no-repeat;
}
.depOperate .bindCon
{
	background: url(images/bindCon.png) no-repeat;
}

.index_roleMemu_1
{
	background: url("images/index_pic/index_roleMemu_1.jpg") no-repeat left;
}
.index_roleMemu_2
{
	background: url("images/index_pic/index_roleMemu_2.jpg") no-repeat left;
}
.index_roleMemu_4
{
	background: url("images/index_pic/index_roleMemu_4.jpg") no-repeat left;
}
.index_roleMemu_7
{
	background: url("images/index_pic/index_roleMemu_7.jpg") no-repeat left;
}
.index_roleMemu_9
{
	background: url("images/index_pic/index_roleMemu_9.jpg") no-repeat left;
}
.index_roleMemu_11
{
	background: url("images/index_pic/index_roleMemu_11.jpg") no-repeat left;
}
.index_roleMemu_12
{
	background: url("images/index_pic/index_roleMemu_12.jpg") no-repeat left;
}
.index_roleMemu_13
{
	background: url("images/index_pic/index_roleMemu_13.jpg") no-repeat left;
}
.index_roleMemu_14
{
	background: url("images/index_pic/index_roleMemu_14.jpg") no-repeat left;
}
.index_roleMemu_15
{
	background: url("images/index_pic/index_roleMemu_15.jpg") no-repeat left;
}
