html,body,div,p,h1,h2,h3,h4,ul,ol,dl,dt,dd,input{ margin:0; padding:0; font-weight:normal;}
ul,ol{ list-style:none}
img{border:0 none; vertical-align:top;}
body{ font:12px/1.5  "宋体",Tahoma, Geneva, sans-serif;background-color: #fff;color: #000;}
a{ text-decoration:none; color:#555}
a:hover{ text-decoration:underline;}
.area{ width:960px; margin:0 auto;}
select, input, button, button img, label {vertical-align: middle;outline: none;}
/*layout*/

.header{
	width: 100%;
	height: 149px;
	background: url(../images/img01.jpg) repeat-x 0 0;
	margin-bottom: 20px;
	.inner{
		width: 1021px;
		margin: 0 auto;
		padding-top: 45px; 
		position: relative;
		a{
			color: #fff;
			font-size: 14px;
			position: absolute;
		}
		.logo{
		   background-image:url(../images/txt01.png);
		   background-position:0 0;
		   width: 936px;
		   height: 103px; 

		}
		.edit_user{
			top: 73px;
			left: 945px;
		}
		.edit_pwd{
			top: 111px;
			left: 945px;
		}
	}
}
.mod_top{
	width: 1019px;
	margin: 0 auto 20px;
	border: 1px solid #c1d9fd;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;

	background-color: #e0ebfe;
	h2{
		padding: 11px 0 11px 27px;
		font-size: 16px;
		font-family: "微软雅黑";
		letter-spacing: 2px;
	}
}
.wrapper{
	width: 1021px;
	margin: 0 auto;
	background: url(../images/line.gif) repeat-y 25px 0;
	.db_config{
		width: 958px;
		padding-left: 60px;
		position: relative;padding-top: 20px;
		margin-bottom: 20px;
		.cg_tags{
			width: 50px;
			height: 50px;
			background: #e0ebfe;
			border-radius: 50px;
			-webkit-border-radius: 50px;
			-moz-border-radius: 50px;
			text-align: center;
			line-height: 50px;
			font-size: 16px;
			position: absolute;
			left: 0px;
			top: 0;
		}
	}
	.config_detail{
		background: #fff;
		border: 1px solid #c1d9fd;
		border-radius:3px;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		position: relative;
		.c1{
			position: absolute;
			left: 28px;
			top: -12px;
			background: #fff;
			padding: 0 4px;
			font-weight: 700;
			font-size: 16px;
			
		}
		.inner{
			width: 900px;
			margin: 0 auto;
			padding: 20px 0;
		}
		.cg_tab{
			width: 100%;
			margin-bottom: 20px;
			td{
				padding:6px 0;
				text-align: left;
				font-size: 14px;
			}
		}
		.w335{
			width: 335px;
		}
		.tips01{
			color: #666;
		}
	}
	.cg_more{
		background-color: #e0ebfe;
		padding: 8px 6px;
		font-size: 14px;
		font-weight: 700;
		cursor: pointer;
		margin-bottom: 20px;

	}
}
.inpStyle{
	width: 245px;
	border: 1px solid #999;
	height: 16px;
	line-height: 16px;
	padding: 3px 4px;
}
.inpra{
	margin-right: 2px;

}
.lab{
	cursor: pointer;
}
.cg_btn{
	.btn01{
		background: url(../images/btn01.gif) no-repeat 0 0;
		width: 84px;
		height: 33px;
		display: inline-block;
		color: #fff;line-height: 30px;
		text-align: center;
		font-size: 14px;
		letter-spacing: 1px;
		margin-left: 400px;
	}
	.tips_error, .tips_success {
		padding-left: 16px;
		background-image: url(../images/tips_system.png);
		background-repeat: no-repeat;
		display: inline-block;
		line-height: 14px;
		margin-left: 10px;
	}
	.tips_error{
		color: #cc3333;
		background-position: -20px 0;
	}
	.tips_success{
		color: #008800;
		background-position: 0 -20px;
	}
	a.btn01:hover{
		text-decoration: none;
	}
}
#modfiy_pwd{
	width: 350px;
	display:none;
	.tab_pwd{
		width: 280px;
		margin: 0 auto;
		td{
			padding: 4px 0;
		}
		.inp02{
			padding: 4px 2px;
			height: 16px;
			width: 195px;
		}
	}
}
.cg_box{
	display: none;
	.cont{
		width: 500px;
		height: 200px;
		text-align: left;
		#textarea{
			width: 480px;
			border: none;
			resize:none;
			outline: none;
			line-height: 22px;
		}
	}
}